@font-face {
    font-family: "Open Sans bold";
    src url:("../fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: "Open Sans light";
    src url:("../fonts/OpenSans-Light.ttf")
}

@font-face {
    font-family: "Open Sans regular";
    src url:("../fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: "Open Sans semibold";
    src url:("../fonts/OpenSans-Semibold.ttf")
}