@import 'font.css';

body {
    font-family: "Open Sans";
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: white;
    padding: 20px 0;
    color: #ff0000;
}

.menu__item a {
    font-family: "Open Sans semibold";
    font-size: 20px;
    color: #000000;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a:hover {
    text-decoration: none;
    color: rgb(155, 153, 153);
}

/*Header*/

.header  {
background-image: url(../img/header.jpg);
padding: 180px;
text-align: center;
color: white;
background-size: cover;
background-position: 0 100%;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
    background: rgb(3, 177, 162);
    border: 2px solid rgb(3, 177, 162);
}

.button:hover {
    border: 0
    outline: none;
    background: transparent;
    border: 2px solid white;
}

/* Aboute */

.about {
    padding: 120px;
    color: #000;
    background: white;
    text-align: center;
    
}

.about__title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

.about__text {
    font-size: 15px;
    margin-bottom: 110px;
}

.about__h3 {
    font-family: "Open Sans semibold";
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Servises */
.services {
    padding: 120px;
    color: #000;
    background: white;
    text-align: center;
    background-color: rgb(199, 224, 226);
}

.our_card {
    background: white;
    padding: 50px 20px 40px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.our_card:hover {
    background: rgb(2, 128, 117);
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.button-services {

    color: #000;
    transition: 0.3s;
    border: 2px solid black;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 12px 10px;
}

.our_card:hover .button-services {
    color: white;
    border: 2px solid white;
}

.button-services:hover {
    cursor: pointer;
}

/* portfolio*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio button:hover {
    color: black;
    border: 2px solid rgb(3, 177, 162);
    background: transparent;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 120px 0px; 
}